<!-- stacked layout page  -->
  <div class="container">
    <div class="h3 text-warning"> now you see Our  <strong>{{ object.layout }}</strong> view</div>  

      <div class="row">
        <article class="col-sm-6" >
          <h1>{{ object.title }}</h1>
          <h2>{{ object.small_heading }}</h2>
          <p class="lead">
            {{ object.head_description | linebreaks}} 
          </p>
          {% if head_bttn_url != ''  %}
          <a href="{{ object.head_bttn_url }}" class="h3 p-2 m-2 text-light bg-primary rounded" > {{ object.head_bttn }} </a>          
      {% endif %} 
        </article>

        <div class="col-sm-6">
          <div class="embed-responsive embed-responsive-21by9">
              {{ object.video_embed|safe }}
          </div>
        </div>
        <hr>
      </div>
  </div>

    <!-- newsletter section -->
  <div class="container  ">
      <div class="row justify-content-md-center my__form ">
        <!-- "getin the seprate form " -->
        {% include 'layout/form.html' %}
      </div>
      <hr>
  </div>

<!--body page  -->

<div class="container">
  <!-- this part come from the contrpl panle ad html code -->
{{ object.page_content | safe}}
</div>
