
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
<script>
    jQuery.noConflict()(function ($) { 
    $(document).ready(function(){
    // modols to make sur the user put his emaile \

        var $markingModol = $("#singUp_modol"),
           didDismissModol = false;
           // showMarkting = false;

           // showMarkting = $(".leave_capture").attr("show") == 'true';
$("body").mouseleave(function(){
            if(!didDismissModol ){
                $markingModol.modal()

            }});
    $markingModol.on("hidden.bs.modal", function(e){
        didDismissModol = true;
    })
 // preven submit emaile
$(".join-form").submit(function(event){
      // e.preventDefalut()
      event.preventDefault();
      // e.preventDefault()
      console.log($(this).serialize())

      var endPointE = "{% url 'email-join' %}",
            this_ = $(this);

      // ajax function to save the email atomic 
      $.ajax({
        method: "POST",
        data: this_.serialize(),
        url: endPointE,
        success: function(data){
             didDismissModol = true;
             $markingModol.modal('hide')
            console.log(data)
             $(".join-form").parent().html("<p class= 'leade nodCrated h1'> don thanks </p>");
             $(".my-form , .nodCrated").parent().slideUp(1500)
             // $(".fuck").fadeOut(400);

             // $(".join-form").parent().html("<p class= 'leade'> don thanks </p>");
        },
        error: function(data){
          // console.log("error")
          console.log(data)
          this_.find(".join-form-alert").fadeIn();
          this_.find(".join-form-error").text(data.responseJSON.email[0])
        }
      })

    })

    });
    })
    </script>
<!-- jqury submit -->
<script>
jQuery.noConflict()(function ($) { 
    $(document).ready(function(){
 
    });
    })
</script>